{#
Author: fpodev (fpodev@gmx.fr)
ajout.html.twig (c) 2020
Desc: description
Created:  2020-07-06T08:43:01.878Z
Modified: !date!
#}
{% extends 'users.html.twig' %}

{% block title %}Ajouter une annonce{% endblock %}

{% block body %}
        <h1>Ajouter une annonce</h1>

        {{ form(form) }}
{% endblock %}
