{#
Author: fpodev (fpodev@gmx.fr)
contact_annonce.html.twig (c) 2020
Desc: description
Created:  2020-07-19T09:00:55.021Z
Modified: !date!
#}
<h1>Contact au sujet de votre annonce "{{ annonce.title }}"</h1>

<p>De : {{ mail }}</p>

<p>Message : {{ message|raw }}</p>

