{#
Author: fpodev (fpodev@gmx.fr)
contact.html.twig (c) 2020
Desc: description
Created:  2020-07-21T13:55:51.752Z
Modified: !date!
#}

<h1>Nouveau contact</h1>

<p>De : {{ mail }}</p>
<p>Sujet : {{ sujet }}</p>
<p>Message : {{ message|raw }}</p>